<div class="footer-top">
  <div class="container">
  <div class="w3-edu-footer-grids foot-left1">
    <div class="col-md-4 foot-left">
      <h3>About Us</h3>

      <p>we are doing some great work </p>
    </div>
    <div class="col-md-4 foot-left">
        <h3>Get In Touch</h3>
        <p>poors needs helps but everyone cannot help so we are gather together for help </p>

          <div class="contact-btm">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>Nattional institute of techonolgy patna</p>


          </div>
          <div class="contact-btm">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>7004324388</p>
          <div class="contact-btm">
          </div>
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
            <p><a href="mailto:adcacourse1@gmail.com">adcacourse1@gmail.com</a></p>
          </div>
          <div class="clearfix"></div>

    </div>
    <div class="col-md-4 foot-left">
    <h3>Subscribe</h3>
    <p>please share and help the people</p>
    <form action="#" method="post">
        <input type="email" Name="Enter Your Email" placeholder="Enter Your Email" required="">
      <input type="submit" value="Subscribe">
    </form>
    </div>
      <div class="clearfix"></div>
  </div>

  </div>
</div>
<!-- /footer-top -->

<!-- footer -->
    <div class="copy-right" >
      <p>&copy; 2018 . All rights reserved | Design by <a href="https://www.facebook.com/profile.php?id=100012871662155/">Manish</a></p>
    </div>
