
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span classnavbar-defaultspan>
      </button>
      <a class="navbar-brand" href="/school_route/data">Help the World</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/school_route/data">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"> </span>About us</a>
          <ul class="dropdown-menu">
            <li><a href="#">Help desk</a></li>
            <li><a href="#">Complaint box</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </li>
        <li><a href="/pricing">About Us</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-bell"></i>
            <span class="badge">3</span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/upcomingEvent">Ist Event</a></li>
            <li><a href="/upcomingEvent">second event</a></li>
            <li><a href="/upcomingEvent">third event</a></li>
          </ul>
        </li>
        <li>  <a class="nav-link" href="/shopping_cart/cart"><i class="	fa fa-shopping-cart"></i>Shopping Cart
      <span class="badge">{{session.cart.totalQty}}</span>
          </a></li>
       <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">  <i class="fa fa-user-o"></i> User manegment<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#if login}}
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/logout">log out</a></li>
            {{else}}
            <li><a href="/user/signin">Log In</a></li>
            <li><a href="/user/signup">Sign Up</a></li>

            {{/if}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->




<div class="w3-banner-edu">
	<div class="agileits_top_menu">

   <div class="w3l_header_left">
				<ul>

					<li><i class="fa fa-phone" aria-hidden="true"></i> +918754308424</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:arunlvinphilips@gmail.com">arunlvinphilips@gmail.com</a></li>
				</ul>
			</div>
			<div class="w3l_header_right">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
   <div class="agileits_w3layouts_banner_nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<h1><a class="navbar-brand" href="/"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>HTW</span></a></h1>

				</div>
				 <ul class="agile_forms">
					 {{#if login}}
           <li><a class="active" href="/user/logout" ><i class="fa fa-sign-in" aria-hidden="true"></i> logout</a> </li>
            <li><a class="active" href="/blogpost/editProfile" ><i class="fa fa-sign-in" aria-hidden="true"></i> Edit profile</a> </li>
					 {{else}}
					<li><a class="active" href="/user/signin" ><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a> </li>
					<li><a href="/user/signup"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up</a> </li>
					{{/if}}
				</ul>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html" class="hvr-underline-from-center">Home</a></li>
							<li><a href="#about"  class="scroll hvr-underline-from-center">About</a></li>

							<li><a href="#gallery" class="scroll hvr-underline-from-center">Gallery</a></li>
							<li><a href="#blog" class="scroll hvr-underline-from-center">Blog</a></li>



							<li><a href="#contact" class=" scroll hvr-underline-from-center">Contact</a></li>
						</ul>
					</nav>

				</div>
			</nav>

	<div class="clearfix"> </div>
</div>
<!-- <div class="banner">
  <h3>The best helping Platform</h3>
  <h2 class="test"><span>Welcome to </span>our Helpthe word</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

  <h4><a href="#contact" class="scroll">join to us<span></span></a></h4>
</div> -->
</div>
